header {
  width: 100%;
  background-color: #5EA9DD;
  height: 80px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: white;
    &:hover {
      color: #333;
    }
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: #333;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    text-align: center;
    &:hover, &:focus {
      color: #333;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.top-login {
  background-color: white;
  color: #333;
  padding: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
    opacity: 0.7;
  }
}